.About{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/background\ test2.jpg);
    background-position: center;
    background-size:cover;
    position: relative;
    text-align: center;
}
h2 {
    margin-top: 2%;
    font-size: 36px;
    font-weight: 600;
}
h3{
    font-size: 18px;
    font-weight: 600;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}

.skills-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.skills-col {
    flex-basis: 50%;
}
img {
    height: 50px;
}

.idPic{
    padding-top: 100px;
    height: 150px;
}